html {
    font-size: 10px;
}

body {
    background-color: #2c2b2b;
}

.main-container {
    padding: 4rem 24rem;
    max-width: 120rem;
    margin: auto;
    color: #ffffff;
}

.options-row, .summary-row, .copy-button-row {
    display: flex;
    gap: 15rem;
    justify-content: center;
    padding: 1.6rem;
    align-items: flex-end;
}

.options-amount-label {
    text-transform: uppercase;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3.2rem; 
}

.options-amount-input, .generate-button {
    font-size: 2.4rem;
    padding: 1.6rem;
    width: 15rem;
    text-align: center;
    background-color: #d9d9d9;
    border: none;
}

.generate-button, .copy-button {
    border: none;
    background-color: #b29494;
    height: 6.4rem;
    width: 18.6rem;
}

/* BEGIN hide number input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* END hide number input arrows */

.copy-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6.4rem;
    gap: 3.2rem;
}

#hashlist-text-area {
    width: 65rem;
    min-width: 65rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 3.2rem;
}